---
layout: default
title: Experience
permalink: /experience
---
<ul class="no-bullets">
  {% assign ordered_experiences = site.experiences | sort:'sort_order' %}
  {% for experience in ordered_experiences %}
    <li>
      <h2 class="experience-title">{{ experience.title }}</h2>
      <ul class="no-bullets">
        <li>{{ experience.company_name }} </li>
        <li>{{ experience.date_from }} - {{ experience.date_to }}</li>
        {% for link in experience.links %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
      <p>{{ experience.description }}</p>
    </li>
  {% endfor %}
</ul>
